<html>
    <body>
        <h1>Log In</h1>

        <%- include("partials/errors.ejs") %>

        <form method="post" action="/">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required="required">
            </div>

            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required="required">
            </div>

            <button type="submit">Log In</button>
        </form>

        <button onclick="location.href='/sign-up';">Create Account</button>
    </body>
</html>