<html>
    <body>
        <h1>What is the Secret, <%= username %>?</h1>

        <%- include("partials/errors.ejs") %>

        <form method="POST" action="/membership/<%= username %>">
            <label for="secret">Answer:</label>
            <input type="text" id="secret" name="secret" required="required">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>